<form [formGroup]="loginfrontForm">
    <div class="mb-4">
        <input type="text" formControlName="username" placeholder="Email" class="form-control" required>
        <!-- <mat-error *ngIf="loginfrontForm.controls['username'].touched && !loginfrontForm.controls['username'].valid">
            <mat-error *ngIf="loginfrontForm.controls['username'].hasError('required')" class="required alert-error">
                Debes ingresar un email.
            </mat-error>
            <mat-error *ngIf="loginfrontForm.controls['username'].hasError('pattern')">
                Formato email no valido
            </mat-error>
        </mat-error> -->
    </div>
    <div class="mb-2">
        <input type="password" placeholder="Password" formControlName="password" class="form-control" required>
        <!-- <mat-error
            *ngIf="loginfrontForm.get('password').hasError('required') && loginfrontForm.get('password').touched">
            Este campo es obligatorio.</mat-error> -->
    </div>

    <div class="mb-3" align="center" *ngIf="show">
        <label class="incorrec_user_pass">!Usuario o contraseña incorrectos!</label>
    </div>

    <div class="mb-3">
        <mat-checkbox><b>Recordar</b></mat-checkbox>
        <span fxFlex></span> <a [routerLink]="['/session/forgot-password']"><b>Olvidaste tu contraseña?</b></a>
    </div>
    <!-- <button color="accent" class="button-lg mb-3" mat-raised-button [routerLink]="['/checkout/payment']">Ingresar</button> -->
    <button class="mb-3 color_button_ac" mat-raised-button (click)="login_front()">Ingresar!</button>
    <p><b><a [routerLink]="['/sell']"
        class="space_menus">Publica un anuncio y crea tu cuenta</a></b></p>
    <!-- <p><b>No tienes una cuenta? <a [routerLink]="['/session/signup']" style="color:#3eb06c">Click aqui para crear cuenta</a></b></p> -->
</form>