<div>
    <!-- <img style="width:100%;height:100%;" src="assets/images/popupdatos.png"> -->
    <b>Contenido sólo para adultos</b>
    <p>Para seguir navegando has de ser mayor de 18 años.</p>

    <p><b>Uso de cookies</b></p>
    <p>Utilizamos cookies propias para recordar tus preferencias y facilitarte la navegación.</p>
    <p>Las cookies de Google son anónimas y no compartimos los datos con terceros. </p>
    <p>Puedes obtener más información en nuestra Política de cookies.</p>
</div>
<div class="mt-2" align="center">
    <button class="btn-custom-popup" (click)="onClose($event.target);">Aceptar</button>
</div>