<!-- Footer Container -->
<footer class="hidden-xs hidden-sm footer-container kompralofooter dark" fxShow="false" fxHide.gt-sm="false">
    <!-- <section class="footer-top">
        <div class="container">
            <div class="module newsletter-footer3">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 styletitle">¡Del mundo a la puerta de tu casa!</div>
                        <div class="promotext">Suscríbete y recibe las mejores ofertas directamente en tu correo.</div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <form method="post" id="signup" name="signup" class="form-group form-inline signup s  /-mail">
                            <div class="form-group">
                                <div class="input-box">
                                    <input type="email" placeholder="Tu e-mail..." value="" class="form-control" id="txtemacompraloil" name="txtemacompraloil" size="55">
                                </div>
                                <div class="subcribe">
                                    <button class="btn btn-primary btn-default font-title button_f" type="submit" name="submit">
                                            Subscríbete
                                        </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- /Footer Top Container -->

    <section class="footer-middle ">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-style">
                    <div class="box-information box-footer">
                        <div class="module clearfix">
                            <h3 class="modtitle">ACERCA DE</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <p style="text-align:justify;padding-right: 100px;">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 col-style">
                    <div class="box-account box-footer">
                        <div class="module clearfix">
                            <h3 class="modtitle">SERVICIO AL CLIENTE</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a [routerLink]="['/terms_conditions']">Información legal</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="infos-footer box-footer">
                        <div class="module">
                            <h3 class="modtitle">CONTACTOS</h3>
                            <ul>
                                <li class="adres">
                                    Dirección: ######
                                </li>
                                <li class="phone">
                                    Teléfono: (1) ######
                                </li>
                                <li class="mail">
                                    <a href="#">Correo: #####@####.####</a>
                                </li>
                                <li class="time">
                                    Horario: #######
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!-- Footer Bottom Container -->
    <section class="footer-bottom ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 copyright-w">
                    <div class="copyright">
                        JC © 2023. Todos los derechos reservados.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Footer Bottom Container -->


    <!--Back To Top-->
    <button (click)="gotoTop()" id="top" class="back-to-top"> <i (click)="gotoTop()" class="fa fa-angle-up"></i> </button>
</footer>
<!-- //  / Footer Container -->
