<div [dir]="isRtl" (scroll)="onScrollEvent($event)">
    <mat-sidenav-container>
        <mat-sidenav #sidenav class="sidebar-area" mode="over">
            <mat-nav-list>
                <div class="close-btn-sidebar">
                    <a href="javascript:void(0)" (click)="embryoService.sidenavOpen = false">
                        <i class="material-icons">
                            close
                        </i>
                    </a>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <!-- <mat-sidenav class="em-sidebar" #paymentSidenav position="end" mode="over">
        </mat-sidenav>         -->
        <mat-sidenav class="em-sidebar" #paymentSidenav [(opened)]="embryoService.paymentSidenavOpen" position="end" mode="over">
            <app-paymentdetailsidebar></app-paymentdetailsidebar>
        </mat-sidenav>



        <app-headerone *ngIf="this.currentUrl != '/home-two' && this.currentUrl != '/home-three'"></app-headerone>
        <div class="main">
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
        <app-footerone></app-footerone>
    </mat-sidenav-container>
    <mat-sidenav-container>
        <mat-sidenav class="em-sidebar" #ubicationSidenav [(opened)]="embryoService.ubicationSidenavOpen" position="end" mode="over">
            <app-ubicationdetailsidebar></app-ubicationdetailsidebar>
        </mat-sidenav>
    </mat-sidenav-container>

    <mat-sidenav-container>
        <mat-sidenav class="em-sidebar" #balanceSidenav [(opened)]="embryoService.balanceSidenavOpen" position="end" mode="over">
            <app-balancedetailsidebar></app-balancedetailsidebar>
        </mat-sidenav>
    </mat-sidenav-container>

    <!-- <mat-sidenav-container>
        <mat-sidenav class="em-sidebar" #binnacleSidenav [(opened)]="embryoService.binnacleSidenavOpen" position="end" mode="over">
            <embryo-BinnacleSideBar></embryo-BinnacleSideBar>
        </mat-sidenav>
    </mat-sidenav-container> -->

</div>