<div class="text-center">
    <b>{{data.name}}</b>
    <p>Codigo: {{data.product_code}}</p>
</div>

<div class="py-1">
    <p><b>Imagenes</b></p>
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="col-gap">
        <div *ngFor="let item of data.image_gallery">
            <img width="626" height="800" class="img_size" src="{{ item }}" alt="cart Image">
        </div>

    </div>
</div>

<hr class="spacer">
<div class="mb-4">
    <b>Precio total</b><span fxFlex></span> {{data.price}}
</div>

<div class="btn-group" fyFlex.xs="100" fyFlex.sm="100" fyFlex.md="100" fyFlex.lg="100" fyFlex.xl="100">
    <button mat-raised-button color="accent" class="button-lg" (click)="product_reject(data)">Rechazar</button>
    <button mat-raised-button color="accent" class="button-lg" (click)="product_aprobed(data)">Aprobar</button>
</div>