<div class="mb-5">
    <div class="table-responsive-x">
       <table>
          <tr>
             <td colspan="4"><b>DATOS DE LA COMPRA</b></td>
          </tr>
          <tr>
             <th>Nombre</th>
             <td colspan="3">
                <b class="color_res">{{data.name_client}}</b>
             </td>
          </tr>
          <tr>
             <th>Tipo identificación</th>
             <th> <label class="color_res">{{data.type_identifier}}</label> </th>
             <th>Identificación</th>
             <th> <label class="color_res">{{data.number_identifier}}</label> </th>
          </tr>
          <tr>
             <th>Departamento</th>
             <th> <label class="color_res">{{data.departament}}</label> </th>
             <th>Ciudad</th>
             <th> <label class="color_res">{{data.nameci}}</label> </th>
          </tr>
          <tr>
             <th>Dirección</th>
             <td colspan="3">
                <strong><label class="color_res">{{data.adress}}</label> </strong>
             </td>
          </tr>
          <tr>
             <th>Teléfono</th>
             <th> <label class="color_res">{{data.phone}}</label> </th>
             <th>Email</th>
             <th> <label class="color_res">{{data.email}}</label> </th>
          </tr>
          <tr>
             <th>Referencia Tx</th>
             <th><label class="color_res">{{data.reference}}</label> </th>
             <th>Metodo de pago</th>
             <th><label class="color_res">{{data.paymentmethod}}</label></th>
          </tr>
          <tr>
             <td><b>Estado</b></td>
             <strong>{{data.name_state}}</strong>
          </tr>
       </table>
    </div>
 
    <div class="py-1 mb-5">
       <div fxLayout="row wrap" fxLayoutAlign="start center" class="col-gap">
          <div *ngFor="let item of data.image_gallery">
             <img width="626" height="800" class="img_size" src="{{ item }}" alt="cart Image">
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="size_card">
             <div class="text-right">
                <div class="table-responsive-x">
                   <table>
                      <thead>
                         <tr>
                            <th>Prod</th>
                            <th>Cod</th>
                            <th>Precio</th>
                            <th>cantidad</th>
                            <th>Monto</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor="let item of adminprList">
                            <th><label class="color_res">
                                  <img class="img-circle inline-block" src="{{img_product_rout}}{{item.image}}"
                                     width="50" height="50" style=" border-radius: 10%;">
                                  {{ item.name_product }}
                               </label></th>
                            <th><label class="color_res">{{ item.product_code }}</label> </th>
                            <th><label class="color_res">{{ item.unit_price }}</label>
                            </th>
                            <th><label class="color_res">{{ item.quantity }}</label></th>
                            <th><label class="color_res">{{ item.total_price }}</label></th>
                         </tr>
                         <tr>
                            <td colspan="4"><b>Total</b></td>
                            <td>
                               <!-- <strong>{{data.total_price|currency : 'COP' : 'symbol' : '1.0-0' }}</strong> -->
                  <!--              <strong>{{data.total_price}}</strong> -->
 
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
 
 
             </div>
          </div>
       </div>
    </div>
 
 
 </div>