<div class="main-container">

    <ngx-spinner 
        bdColor="rgba(255,255,255)"
        size="medium"
        color="#fff"
        type = "square-jelly-box" 
        [fullScreen] = "true"
        template="<img width='200px' src='assets/images/logo_kompralo.gif' />">
    </ngx-spinner>
    

    <div class="header-pendient" *ngIf="validate_img">
        <div class="container">
            <div align="center" style="padding-top: 10px;">
                <b>Sube tus fotos para finalizar tu publicación</b>
            </div>
        </div>
    </div>

    <div class="header-pendient-serv" *ngIf="validate_serv">
        <a [routerLink]="['/account/services_qualities']">
            <div class="container">
                <div align="center" style="padding-top: 10px;">
                    <b>Registra tus servicios (opcional)</b>
                </div>
            </div>
        </a>

    </div>

    <div class="header-pendient-maps" *ngIf="validate_map">
        <a (click)="MapRoute()">
            <div class="container">
                <div align="center" style="padding-top: 10px;">
                    <b>Guarda tu ubicación en maps (opcional)</b>
                </div>
            </div>
        </a>
    </div>

    <div class="header-pendient-paid" *ngIf="validate_paid">
        <a [routerLink]="['/account/payment_ad']">
            <div class="container">
                <div align="center" style="padding-top: 10px;">
                    <b>No has realizado el pago de tu anuncio</b>
                </div>
            </div>
        </a>
    </div>

    <div class="header-membership" *ngIf="validate_membership">
        <a [routerLink]="['/account/payment_ad']">
            <div class="container">
                <div align="center" style="padding-top: 10px;">
                    <b style="color:white;">Tu anuncio se encuentra como rechazado!</b>
                </div>
            </div>
        </a>
    </div>

    <div class="row mt-5">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentmobile">
            <div layout="row" layout-wrap>
                <div class="col-lg-12 pl-0">
                    <h3 class="titulo"><span>Por tu zona </span>
                    </h3>
                </div>



                <div fxLayout="row wrap" fxLayoutGap="16px grid">



                    <mat-card class="example-card card_store_prod" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%"
                        *ngFor="let card of obs | async | paginate: { itemsPerPage: 35, currentPage: p } ">

                        <mat-card-content class="product-content producto_destacado relative"
                            style="height: 532px;padding-left: 0px;padding-right: 0px;padding-top: 0px; ">

                            <a class="" *ngIf="!card?.id" (click)="[card?.route_product]" style="height: 268px;">
                                <img class="img_size image_pixeled" mat-card-image [lazyLoad]="card?.image" style="height: 381px;">
                            </a>

                            <a class="p-link" *ngIf="card?.id">
                                <img class="img_size image_pixeled" mat-card-image [src]="card?.image">
                            </a>

                            <div class="right-block" style="margin-top: 15px;margin-left: 10px;">
                                <h6 class="titulo_producto"><a *ngIf="product?.id_product">
                                      
                                        class="title-link">{{card?.name}}</a> </h6>

                                <h6 class="titulo_producto"><a *ngIf="!product?.id_product"
                                        
                                        class="title-link">{{card?.name}}</a> </h6>

                                <span class="price-new">{{card?.location}}</span> <span class="price-new"
                                    style="margin-left: 15px;">{{card?.age}} años</span>

                                <p class="price">
                                    <span class="price-new">{{card?.price  | currency : 'USD' : 'symbol' :  '1.0-0' }}</span>
                                </p>

                                <button (click)="productAddToWishlist(card)" type="button"
                                    class="wishlist btn-button" title="Añadir a lista de deseos"><i
                                        class="fa fa-heart-o"></i>
                                </button>

                                <!-- <bar-rating [(rate)]="rate" [max]="5"></bar-rating> -->
                            </div>

                        </mat-card-content>
                    </mat-card>
                    <!-- <mat-paginator class="mb-5 " [pageSizeOptions]="[35, 35, 35, 100] "></mat-paginator> -->
                </div>

            </div>


        </div>
        <!-- /Productos destacados-->

    </div>

    <!-- <a class="btn btn-block transparent-btn" (click)="extendGridStructure()">VER MAS PRODUCTOS</a> -->

    <!-- </div> -->
</div>